@font-face {
    font-family: 'bits';
    src: url("C:\Users\Miguel Lima\Downloads\8bitoperator-jve\8bitoperator_jve.ttf") format(truetype);
    font-style: normal;
    font-weight: normal;
}

.descricao {
    display: flex;
    border-radius: 10px;
    background-color: #111111;
    width: fit-content;
    margin: auto;
    border-left-width: 5px;

    p {
        color: whitesmoke;
        font-size: 18px;
        text-align: center;
    }
}

.info {

    margin: auto;
    margin-bottom: 30px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #222222;
    border-radius: 20px;
    width: fit-content;
    margin-top: 30px;

    h2 {
        color: white;
        font-size: 24px;
        text-align: auto;
    }
}

.texto {

    background-color: #282828;
    border-radius: 10px;
    width: fit-content;
    padding: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
    margin: auto;
    
    p {
        color: white;
        font-size: 18px;
        text-align: center;
    }
}

body {
    background-color: black;
    font-family: 'bits';
    max-width: 880px;
    margin: auto;
    padding-bottom: 50px;
}

h1 {
    color: rgb(255, 255, 255);
    font-size: 32px;
    text-align: center;
}

img {
    margin: auto;
    margin-top: 30px;
    display: flex;
}
